@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: 'Open Sans', sans-serif;
}
